.card {
  background-color: #F3E9CB;
  border-radius: 15px;
  width: 284px;
  height: 240px;
  z-index: -1;
}
.card__imgContainer {
  display: flex;
  justify-content: center;
}
.card__img {
  width: 100px;
  height: 100px;
}
.card__digit {
  font-family: Arial;
  font-weight: 700;
  font-size: 43px;
  color: #214707;
  position: relative;
  left: 10px;
}
.card__text {
  color: #214707;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
.card__line {
  width: 20%;
  height: 2px;
  background-color: #418611;
  position: absolute;
  right: -20px;
  top: 50%;
  z-index: -2;
}
